$bg-color-body: rgb(245, 214, 176); 
$bg-color-head-foot: rgb(197, 173, 145); 
$bg-color-aside: rgb(213, 187, 158); 
$bg-color-form: rgb(218, 178, 238);
$center: center;
$padding-left: 5px;
$padding: 15px;
$border1: 0px;
$border2: 1px solid black;
$margin: 10px;
$div_width: 300px;
$div_height: 300px;
$img_logo_width: 370px;
$img_logo_height: 100px;
$float_left: left;
$div_display: block;
$img_size_1: 210px;
$img_size_2: 100px;
$nav_display: inline-block;
